{% extends 'hod_template/base.html' %}
{% load static %}
{% block page_title %}Add Subject{% endblock page_title %}
    {% block main_content %}
      <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elemenCoursets -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Add Subject</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_subject_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Subject Name</label>
                    <input type="text" class="form-control" placeholder="Subject Name" name="subject_name">
                  </div>
                  <div class="form-group">
                    <label>Subject Code</label>
                    <input type="text" class="form-control" placeholder="Subject Code" name="subject_code">
                  </div>

                  <div class="form-group">
                      <label>Course</label>
                      <select class="form-control" data-dropdown-css-class="select2-danger" name="course">
                          {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.course_name }}</option>
                          {% endfor %}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>Staff</label>
                      <select class="form-control" data-dropdown-css-class="select2-danger" name="staff">
                          {% for staff in staffs %}
                        <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                          {% endfor %}
                      </select>
                  </div>

                  <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger text-center">{{ message }}</div>
                    {% elif message.tags == 'success' %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock main_content %}

